* {
  padding: 0;
  outline: 0;
  margin: 0;
}
img {
  border: 0;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
@font-face {
  font-family: shary_bold;
  src: url(../fonts/SHARY-Bold.ttf);
}
h1 {
  font-size: 88px;
  font-family: shary_bold;
}
h2 {
  font-size: 28px;
  font-family: shary_bold;
}
p {
  font-size: 22px;
}
body {
  font-family: "Poppins", sans-serif;
}
/* welcome page part css  */
#welcome {
  background-image: url(../image/background/bg-1.jpg);
  background-position: t;
  background-repeat: no-repeat;
  background-size: cover;
}
#welcome::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}
.nav-content {
  font-size: 22px;
  height: 100%;
  width: 140px;
  z-index: 2;
  padding-top: 120px;
  padding-bottom: 120px;
  border-right: 1px solid #ffffff;
}
.nav-content-mobile {
  height: 120px;
  z-index: 2;
  padding-left: 60px;
  padding-right: 60px;
}
.nav-content ul li {
  height: 130px;
}
.nav-content ul li a {
  transform: rotate(270deg);
}
.main-content {
  z-index: 1;
  margin-left: 140px;
  padding-left: 40px;
}
.main-content-text h1,
.main-content-text h2 {
  color: #fff7b2;
}
.villa-option-item .villa-img .villa {
  transition: all 0.4s ease;
}
.villa-option-item .villa-img .villa:hover {
  border-radius: 18px;
  box-shadow: 0px 0px 20px 1px rgb(255 255 255 / 50%);
  transform: translate3D(0, -1px, 0) scale(1.03);
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    font-family: shary_bold;
  }
  h2 {
    font-size: 16px;
    font-family: shary_bold;
  }
  p {
    font-size: 13px;
  }
  .nav-content {
    font-size: 15px;
  }

  .main-content {
    align-items: center;
    margin-left: 0px;
    padding-left: 0px;
  }
  .nav-content-mobile {
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .villa-option-item .villa-img .villa {
    width: 100%;
    height: 150px;
  }
  .villa-logo {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .main-content {
    align-items: center;
    margin-left: 0px;
    padding-left: 0px;
  }
  .villa-option {
    display: flex;
  }
  .villa-option-item {
    width: 45%;
    margin: auto;
    margin-bottom: 0 !important;
  }
}
@media (min-width: 992px) and (max-width: 1099px) {
  h1 {
    font-size: 50px;
    font-family: shary_bold;
  }
  h2 {
    font-size: 20px;
    font-family: shary_bold;
  }
  p {
    font-size: 16px;
  }
  .nav-content {
    width: 100px;
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-content {
    margin-left: 100px;
  }
  .nav-content ul li a img {
    width: 16px;
  }
  .nav-content ul li {
    height: 85px;
  }
  .villa-option.text-center {
    width: 55%;
    margin: auto;
  }
}
@media (min-width: 1100px) and (max-width: 1299px) {
  h1 {
    font-size: 50px;
    font-family: shary_bold;
  }
  h2 {
    font-size: 20px;
    font-family: shary_bold;
  }
  p {
    font-size: 16px;
  }
  .nav-content {
    width: 100px;
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-content {
    margin-left: 100px;
  }
  .nav-content ul li a img {
    width: 16px;
  }
  .nav-content ul li {
    height: 85px;
  }
  .villa-option {
    width: 55%;
    margin: auto;
    padding-top: 15px;
  }
}
@media (min-width: 1300px) and (max-width: 1499px) {
  h1 {
    font-size: 80px;
    font-family: shary_bold;
  }
  h2 {
    font-size: 25px;
    font-family: shary_bold;
  }
  p {
    font-size: 20px;
  }
  .nav-content {
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .villa-option {
    width: 55%;
    margin: auto;
    padding-top: 10px;
  }
}
@media (min-width: 1500px) and (max-width: 1699px) {
  .nav-content {
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .villa-option {
    width: 55%;
    margin: auto;
    padding-top: 10px;
  }
}
